*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    border: 5px solid black;
    width: 100%;
    height: 100%;
    position: relative;
}

.box {
    border: 34px solid;
    width: 100%;
    height: 100%;
}

button {
    position: absolute;
    top: 45%;
    left: 42%;
    width: 180px;
    height: 60px;
    padding: 15px;
    font-weight: bold;
    border-radius: 20px;
    background-image: linear-gradient(150deg, #1C1C2E, #38375D);
    color: #fff;
    border: 0;
    outline: 0;
    font-size: 18px;
    cursor: pointer;
}